

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    background-color: #fad955;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.all-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: max-content;
    border: 1px solid black;
    background-color: #fff;
    box-shadow: 5px 5px black;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;

    &__image {
        margin: auto;
        width: 100%;
        border-radius: .6rem;
    }

    &__text1 {
        background-color: #f6d54e;
        width: min-content;
        padding: .3rem .5rem;
        margin: .7rem .3rem .5rem .3rem;
        border-radius: .3rem;
        font-size: 1.4vw;
        font-weight: 800;
    }

    &__text2 {
        font-size: 1.5vw;
    }

    &__text3 {
        font-size: 2vw;
        margin: 1rem 0;
    }

    &__text4 {
        font-size: 1.5vw;
        color: gray
    }
}

.all-container2 {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    &__image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    &__text1 {
        margin-left: .5rem;
        font-size: 1.2vw;
        font-weight: 900;
    }
}