.retour_bouton {
    z-index: 50;
    position: fixed;
    left: 20px;
    bottom: 20px;
    text-decoration: none;
    color: rgb(101, 97, 97);
    font-weight: 800;
    font-family: "Arial", sans-serif;

    transition: .3s;
}

.retour_bouton:hover {
    color: black;

}